<launch>
	<arg name="PORT" default="/dev/ttyUSB0"/>
	<arg name="ROM" default="8700339.rom"/>
	
	<!-- Launch polaris sensor ros package need the path to the rom files --> 
	<node name="polaris_sensor" pkg="polaris_sensor" type="polaris_sensor_node" required="true">
		<param name="port" type="string" value="$(arg PORT)"/>
		<param name="roms" type="string" value="$(find polaris_sensor)/rom/$(arg ROM).rom"/>
	</node>
</launch>
